---
layout: default
title: Home
---

<!-- Posts Index
================================================== -->
<h2>Portfolio</h2>


{% include carousel.html height="45" unit="%" duration="7" %}


<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

