---
layout: default
title: Home
---


<div class="container">

<!-- Posts Index
================================================== -->
<div class="rowportfolio">

	<h2>Portfolio</h2>
	<div class="buttonlink"><a href="/portfolio2/">See all</a></div>
</div>

{% include carousel.html height="45" unit="%" duration="7" %}


<div class="blog-grid-container">
  
        {% include postbox.html %}
 
</div>

<div class="rowportfolio">

	<h2>Categories</h2>
	<div class="rowcategories">
	{% for category in site.categories %}
	<div class="buttonlink ml-3"><a href="/portfolio2/">{{ category | first }}</a></div>
	{% endfor %}
</div>
</div>



<!-- Pagination
================================================== -->
<!--<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div> -->

