---
layout: default
title: Home
---


<div class="container">

<!-- Posts Index
================================================== -->
<div class="rowportfolio">

	<h2>Portfolio</h2>
	<div class="buttonlink"><a href="/portfolio/">See all</a></div>
</div>

{% include carousel.html height="45" unit="%" duration="7" %}


<div class="blog-grid-container">
  
        {% include postbox.html %}
 
</div>



<div class="rowportfolio">

<h2>Summary</h2>
	<div class="buttonlink"><a href="/about/">Read more</a></div>
</div>

<div class="row spacecolskills">

<div class="col-lg-6 .col-md-6 text-left border-summary">
	<p class="whitetext uppercasefont skilltext">About me</p>
<p>Graphic Designer since 2017, recent experiences in UI design and Webdesign since 2020. Fluently speaking English and native French speaker. I am able to work remotely.</p>

<p class="whitetext uppercasefont skilltext">Interests</p>
<p>Reading, writing, E-sports, illustration, painting.</p>

</div>


<div class="col-lg-3 .col-md-3 text-left colskills">

<p class="whitetext uppercasefont skilltext">Photoshop | 5/5</p>
<div class="containerskills">
<div class="skillbar bar5"></div>
</div>

<p class="whitetext uppercasefont skilltext">Illustrator | 4.5/5</p>
<div class="containerskills">
<div class="skillbar bar4-5"></div>
</div>

<p class="whitetext uppercasefont skilltext">InDesign | 4.5/5</p>
<div class="containerskills">
<div class="skillbar bar4-5"></div>
</div>

<p class="whitetext uppercasefont skilltext">Drawing | 5/5</p>
<div class="containerskills">
<div class="skillbar bar5"></div>
</div>

</div>


<div class="col-lg-3 .col-md-3 text-left colskills">

<p class="whitetext uppercasefont skilltext">Adobe XD / Sketch | 4/5</p>
<div class="containerskills">
<div class="skillbar bar4"></div>
</div>

<p class="whitetext uppercasefont skilltext">HTML / CSS | 3.5/5</p>
<div class="containerskills">
<div class="skillbar bar3-5"></div>
</div>

<p class="whitetext uppercasefont skilltext">JavaScript | 1/5</p>
<div class="containerskills">
<div class="skillbar bar1"></div>
</div>

<p class="whitetext uppercasefont skilltext">Wordpress | 4/5</p>
<div class="containerskills">
<div class="skillbar bar4"></div>
</div>

</div>


</div>



<div class="rowportfolio mg-top">


	<h2>Links</h2>
	<div class="rowcategories">
	
	<div class="buttonflex"><a href="https://www.artofpollux.com">Art Website</a></div>
	<div class="buttonflex"><a href="https://github.com/MatthieuAlessi">Github</a></div>
	<div class="buttonflex"><a href="/portfolio2/">Linkedin</a></div>
	
</div>
</div>

</div>

<!-- Pagination
================================================== -->
<!--<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div> -->

