{% assign author = site.authors[post.author] %}

<div class="blog-grid-item">
    <div class="card cardpost h-100 w-100" style="background-image: url('{{ site.baseurl }}/{{ post.image }}');">
        <div class="cardcontainer">
            <div class="maxthumb">

{% if post.image %}
            <a href="{{ site.baseurl }}{{ post.url }}">
 {% endif %}
    
        <div class="card-body">
            <div class="carouseltags-container">
              <p class="carouseltags">{{ post.tags | first }}</p>
              <p class="carouseltags">{{ post.tags | last }}</p>
            </div>
            <h2 class="card-title">
                <a class="text-white" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                <div class="mb-2 mt-2 font-weight-normal">
                </div>
            </h2>
            <!--h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:8 }}</h4-->
        </div>
    </div>
                

            </a>
        </div>
 
                <div class="clearfix"></div>
            </div>
        </div>

