
{% assign sorted-posts = site.posts | where: "tags","test" %}
{% for post in sorted-posts limit: 4 %}

<div class="blog-grid-item">
    <div class="card cardpost h-100 w-100" style="background-image: url('{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}');">
        <div class="cardcontainer">
<div class="maxthumb">


            
        <div class="card-body">
            <div class="carouseltags-container">
              <p class="carouseltags">{{ post.tags | first }}</p>
              <p class="carouseltags">{{ post.tags | last }}</p>
            </div>

    

            <h2 class="cardtitle">
                <a class="text-white" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                
            </h2>

            <p class="cardsub text-white">{{ post.subtitle }}</p>

            
        </div>

    

</div>
            

        </div>

                <div class="clearfix"></div>
        
    </div>
</div>
 {% endfor %}

 
