
{% assign sorted-posts = site.posts | where: "tags","home" %}
{% for post in sorted-posts limit: 4 %}

<div class="blog-grid-item">
    <div class="card cardpost h-100 w-100" style="background-image: url('{% if post.item contains "://" %}{{ post.item }}{% else %}{{ site.baseurl }}/{{ post.item }}{% endif %}');">
        <div class="cardcontainer">
<div class="maxthumb">


            
        <div class="card-body">
            <div class="tagscontainer">
              <p class="tags">{{ post.tags | first }}</p>
              <p class="tags">{{ post.tags | last }}</p>
            </div>

    

            <h3 class="whitetext bloctitle">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                
            </h3>

            <p class="whitetext uppercasefont blocsub">{{ post.subtitle }}</p>

            
        </div>

    

</div>
            

        </div>

                <div class="clearfix"></div>
        
    </div>
</div>
 {% endfor %}

 
