<script type="text/javascript">
  function filterUsingCategory(selectedCategory) {
    var id = 0;
    {% for post in site.posts %}
      var cats = {{ post.categories | jsonify }}

      var postDiv = document.getElementById(++id);
      postDiv.style.display =
        (selectedCategory == 'All' || cats.includes(selectedCategory)) 
          ? 'unset' 
          : 'none';
    {% endfor %}
  }

  
</script>

<div class="rowcategories-filter">
<button class="buttonfilter" id="All" onclick="filterUsingCategory('All')">All</button>
{% assign categories = site.categories | sort %}
{% for category in categories %}
  {% assign cat = category | first %}
  <button class="buttonfilter" id="{{ cat }}" onclick="filterUsingCategory(this.id)">
    {{ cat }}
  </button>
{% endfor %}
</div>

<div class="bloc-grid-container-full">
{% assign id = 0 %}
{% for post in site.posts %}
  {% assign id = id | plus:1 %}
<div class="blog-grid-item blocworks" id="{{id}}">

    <div class="card cardpost h-100 w-100" style="background-image: url('{% if post.item contains "://" %}{{ post.item}}{% else %}{{ site.baseurl }}/{{ post.item }}{% endif %}');">

        <div class="cardcontainer">

<div class="maxthumb">

            <div class="tagscontainer">
              <p class="tags">{{ post.tags | first }}</p>
              <p class="tags">{{ post.tags | last }}</p>
            </div>


            <h3 class="whitetext bloctitle">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h3>

            <p class="whitetext uppercasefont blocsub">{{ post.subtitle }}</p>


</div>
            
        </div>

                <div class="clearfix"></div>
        
    </div>
</div>

 {% endfor %}




