---

---

$brown: #B59F62;
$teal: #40FFDC;
$black: #111;
$primary: $teal;
$dark: #111016;
$dark2: #0d0b10;
$grey: #c5c5c5;
$darkgrey: #2a2a2f5c;
$highlight: #ffc355;
$buttontext: black;
$titles: #ffffff;
$enable-rounded: false;

@import "bootstrap/functions";
@import 'bootstrap/variables';
@import "bootstrap/mixins";
@import 'bootstrap/bootstrap';
@import 'stars';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700;800&family=Lora:wght@400;500;700&family=Rubik:wght@300;400;500&display=swap');


@font-face {
    font-family: 'Gilmer Heavy';
    src: url("/assets/fonts/Gilmer Heavy.otf") format("opentype");
}



// general

/*

html {font-size: 16px;} /*100%

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  line-height: 1.8;
  color: $grey;
  background: $dark;
  margin-top: 80px;
}

p {
margin-bottom: 1rem;
color: $grey;
font-family: 'Rubik';
font-weight: 300;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  letter-spacing:-0.03em;
  line-height: 1.3;
  color: $titles;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}


input, select, optgroup, textarea {   
    font-family:'Rubik';
    font-weight: 300;
}

button {
    font-family: 'Sen';
}


a {color: $highlight;}

.article-post p {
    font-family: 'lora';
    line-height: 1.8;
}


.title {
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing:-0.03em;
    line-height: 1;
    padding-bottom: 10px;
}

.uppercasefont {

    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'sen';

}


   .fas { color: $dark;
}

@media screen and (max-width: 600px) {
.fas {
    color: white;
}
}


img {
    max-width:100%;
    height:auto;
}

.site-content {
    margin-top:80px;
}

.bigradius {
    border-radius: 40px;
}
.mb-neg-30 {
    margin-bottom:-30px;
}
.btn {
    min-width: 180px;
}
blockquote {
    
    font-style: italic;
    font-size: 1.953rem;
    position:relative;
    border-left:1px solid $dark;
    margin-left:30px;
    padding-left:15px;
    cite {
        font-weight:700;
    }
}

*/
// animation
.nav-icon, 
.hamburger-bar, 
.hamburger-bar:before, 
.hamburger-bar:after, 
#menu, 
body, 
a, 
a:hover, 
body.active-side, 
.site-content, 
.show-search, .show-search:hover, 
.title, .title:hover,
.card, .card:hover,
img, img:hover {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
@keyframes fade-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

/*ANIMATION BLOC NTH .featured-image, .firstpage .blog-grid-item:nth-child(1), .firstpage .blog-grid-item:nth-child(2), .firstpage .blog-grid-item:nth-child(3) {
    animation: fade-up 0.7s ease-out forwards running;
}*/

.featured-image, .firstpage .blog-grid-item {
    animation: fade-up 0.5s ease-out forwards running;
}

// menu
.navbar-brand img {
    max-height:80px;
    margin-bottom:40px;
    margin-top:40px;
}
.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 100%;
    border-right: solid rgba(0, 0, 0, 0.07) 1px;
    z-index: 1022;
    background:$dark2;
}
.nav-icon {
    position: fixed;
    right: 20px;
    top: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 30px;
    z-index: 1026;
    .hamburger-bar {
        width: 18px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1px;
        &:before, &:after {
            content: '';
            position: absolute;
            width: 18px;
            height: 2px;
            background: white;
            border-radius: 1px;
        }
        &:before {
            transform: rotate(0deg) translate(0px,-5px);
        }
        &:after {
            transform: rotate(0deg) translate(0px,5px);
        }
    }
    &.active {
        .hamburger-bar {
            &:before {
                transform: rotate(-45deg) translate(0px,0px);
            }
            &:after {
                transform: rotate(45deg) translate(0px,0px);
            }
        }
    }
}
.blackover {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(8, 11, 16, 0);
    z-index: -1;
    transition: all 0.3s ease-in 0s;
    &.active {
            z-index: 15;
            background: rgba(8, 11, 16, 0.7);
            transition: all 0.3s ease-out 0s;

    }
}
#menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 420px;
    background: $dark2;
    padding: 0;
    margin: 0;
    transform: translate(100%, 0);
    transition: all 0.3s ease 0s; 
    z-index: 1022;
    &.active {
        transform: translate(0%, 0);
    }
    ul {
        float: left;
        width: 100%;
        padding: 100px 30px 80px 70px;
        h3 {
            margin-bottom:30px;
        }
        li {
            list-style: none;
            width: 100%;
            a {
                width: 100%;
                display: inline-block;
                padding: 2vh 0px 2vh 0px;
                line-height: 20px;
                text-decoration: none;
                color: $grey;
                font-weight: 400;
                position: relative;
            }

        }
    }
}



// blog grid

.blog-grid-container {
    width: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    margin-bottom: 35px;
}



.bloc-grid-container-full {
    width: auto;
    margin: 60px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    margin-bottom: 35px;
}


@media (max-width: 768px) {
    .bloc-grid-container-full {
    margin: 30px auto;    
    margin-bottom: 35px;
    }
}


.blog-grid-item { 
    height: 300px; 
    color: #333;
    padding: 0;
    display: flex;
    align-items:center;
    .author-thumb {
        width:40px;
        border-radius:50%;
        margin-right: 7px;
    }
    .card {
        border:0;
        &:hover {           
           .card-title a { 
                background-size: 100% 100%;
            }
        }
    }
    .card-title {
                line-height:1.4;
        a { 
            background-image: linear-gradient(180deg, transparent 89%, $primary 0);
            background-repeat: no-repeat;
            background-size: 0 100%;
            transition: background-size .6s ease;
            position:relative;
            &:hover {
                text-decoration:none;
            }
        }
    }
    .card-text {
        font-weight:400;
        line-height:1.8;
        margin-top:15px;
    }
    .card-footer {
        border-top:0;
        padding: 1rem 1.25rem;
        a {
            color:inherit;
            font-weight:700;

        }
    }
    .post-date {
        float:right;
        margin-top: 10px;
    }
    .img-thumb {
        object-fit:cover;
        height:240px;
        width:100%;
        object-position:top;
    }
}
/* .firstpage {
    .blog-grid-item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        flex-direction: column;  
        align-items: flex-start;
        font-size: 1em;
        padding:0;
        .card-title {
            font-size:28px;
        }
        .img-thumb {
            object-fit:cover;
            height:400px;
            width:100%;
            object-position:top;
        }
    }

    .blog-grid-item:nth-child(2), .blog-grid-item:nth-child(3) {
        .card-text {
            display:none;
        }
        .img-thumb {
            object-fit:cover;
            height:160px;
            width:100%;
            object-position:top;
        }
        .card-title {
            font-size:18px;
            line-height:1.5;
        }      
    }
}
*/ 
//pagination
.pagination {
    justify-content:center;
    a {
        background: rgba(0,0,0,0.05);
        color:#000;
        cursor:pointer;
        &:hover {
            background: $primary;
            text-decoration:none;
        }
    }
    a, span  {
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
    }
    span {
        border:0;
    }
}

//newsletter
.newsletter {
    h4 {
        line-height:1.3;
    }
    /*margin-top:120px;*/   
    img.newsletter-logo {
        max-height:70px;
    } 
    input {
        border:1px solid transparent;
    }
    .mc-field-group {
        border:0px solid;
        border-radius:2px;
        display:inline-block;
        input[type="email"] {
            padding:4px 10px;
            min-width:250px;
        }
        input[type="submit"] {    
            color: #222;
            padding: 4px 20px;
            margin-left:-5px;
            background:$primary;
            border-left: 1px solid;
            font-weight:700;
        }
    }
    form {
        margin-top:30px;
    }
}

// blog 
.article-post, .entry-header, .comments, .rating, .authorbox {
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.posttitle {
    font-weight:700;
    line-height:1.2;
}
.entry-featured-image {  
    width:940px;  
    max-width: 100%;
    text-align:center;
    margin-left:auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom:30px;
}
.image-shadow {   
    -webkit-box-shadow: 0 7px 50px 0 rgba(84,110,122,.15);
    -moz-box-shadow: 0 7px 50px 0 rgba(84,110,122,.15);
    box-shadow: 0 7px 50px 0 rgba(84,110,122,.15);
}
.entry-header {
    .author-thumb {
        width:50px;
        border-radius:50%;
        margin-right:10px;
        border:2px solid darken($primary,20%);
        padding:2px;
    }
}
.authorbox {
    margin-top:50px;
    margin-bottom:50px;
    .author-description {
    
    }
    .author-thumb {
        width:70px;
        border-radius:50%;
        border:2px solid darken($primary,20%);
        padding:2px;
    }
}
.article-post {    
    
    p {
        margin-top:30px;
        margin-bottom:30px;
    }
    code {
        font-size: 15px;
        color: #94918d;
    }
    code[class*="language-"], pre[class*="language-"] {
        font-size:15px;
        margin-bottom:30px;
        background: #fff;
        color:inherit;
    }
    div.code-toolbar > .toolbar a, div.code-toolbar > .toolbar button, div.code-toolbar > .toolbar span {
        margin-right:2px;
        margin-left:2px;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
    }
}

.c-rating button {
    cursor:none;
}

.spoiler {
    color: transparent;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all .4s;
    cursor: pointer;
    position: relative;
    &:after {
        position: absolute;
        opacity: 0;
        content: 'Click to reveal spoiler';
        top: 45%;
        left: calc(50% - 75px);
        text-shadow: none;
        background: #222;
        color: #fff;
        display: inline-block;
        font-size: 13px;
        line-height: 1;
        padding: 2px 3px;
        width: 150px;
        text-align: center;
        border-radius: 3px;
        transition: all .4s;
    }
    &:hover:after {
        opacity: 1;
    }
}

.comments {
    margin-top:30px;
    margin-bottom:60px;
    #comments {
        display:none;
        margin-top:60px;
        &.comments--show {
            display:block;
        }
    }
}
.related-posts {
    h2 {
    }
    margin-top:120px;
    .badge {
        font-size: 15px;
        padding:5px 7px;
        display:inline-block;
        margin: 0 3px;
    }
}

//share
.share { 
    position:fixed;left:15px;bottom:40%;z-index: 1026;
    text-align:center;    
    ul {
        list-style:none;
        padding-left:0;
        li {
            margin:15px 0;
            a {
                color:$dark;
            }
        }
    }
}

//search
.show-search {
    cursor:pointer;
    &:hover {
        color: darken($primary,20%);
    }
}
.bd-search {
    visibility: hidden;
    opacity: 0;
    transition:opacity 0.5s linear;
    &.search--show {
        visibility: visible;
        opacity: 1;
        transition:opacity 0.5s linear;
    }
}
.wrap-search {
    position: fixed;
    left: 30px;
    bottom: 25px;
    z-index: 1026;
}
.modal-open .modal {
    background: rgba(0,0,0,0.3);
}
.lunrsearchresult {
    .title {
        color:#000;
        font-weight:700;
        line-height:1.2;
        display:block;
        font-size:20px;
        margin-bottom:5px;
        &:hover {
            color: darken($primary,20%);
        }
    }
    span.body {
        color: $gray-500;
        line-height:1.7;
        display:block;
        margin-bottom:10px;
    }
    a {
        &:hover {
            text-decoration:none;
        }
    }
    span.url {
         display:none;
    }
}
body.active-side {
    .bd-search {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear;
    }
}
//footer
.footer {
    /*margin-top:120px;*/
    padding:30px;
    border-top:1px solid $gray-200;
    font-size:15px;
    background:#fff;
}

//responsive tweaks

    .container, .container-sm, .container-md, .container-lg {
        width: 1200px;
        max-width: 85%;
        margin: 0 auto;
    }

@media (min-width: 768px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 90%;
    }
}


@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 85%;
    }


}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 80%; /*1200*/
    }
}



@media (max-width: 992px) {
    .bloc-grid-container-full {
        grid-template-columns: 1fr 1fr;
    }
}



@media (max-width: 768px) {
    .posttitle {
        font-size:35px;
    }
    .blog-grid-container {
        grid-template-columns: 1fr;
    }

    .bloc-grid-container-full {
        grid-template-columns: 1fr;
    }

    .firstpage .blog-grid-item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .blog-grid-item .img-thumb, 
    .firstpage .blog-grid-item:nth-child(1) .img-thumb, 
    .firstpage .blog-grid-item:nth-child(2) .img-thumb, 
    .firstpage .blog-grid-item:nth-child(3) .img-thumb {
        height:auto;
    }
    .newsletter {
        span.h4 {
            font-size: 20px;
        }
        .mc-field-group input[type="email"] {
            padding: 4px 10px;
            min-width: 200px;
        }
        .mc-field-group input[type="submit"] {
            padding: 4px 10px;
        }
    }
}

@media (max-width: 600px) {
    .nav-icon, .sidebar, .share, .wrap-search {
        position:relative;
    }
    .container {
        padding-left:0px;
    }
    .site-content {
        padding-top:0;
    }
    .bd-search {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear;
    }
    .wrap-search {
        right: 25px;
        display: flex;
        left: unset;
        z-index:0;
        height: 30px;
    }
    .share {
        display: flex;
        align-items:center;
    }
    .share ul li {
        display:inline-block;
        margin: 10px 15px !important;
    }
    
    #menu ul {
        padding: 100px 30px 80px 70px;
    }


    .related-posts {
        h2 {
            font-size: 1.4rem;
        }
    }
}
@media (max-width: 480px) {
    .newsletter {
        .mc-field-group input[type="email"] {
            min-width:170px;
            width: 170px;
        }
    }
    .article-post, .entry-header, .comments, .rating, .authorbox { 
        padding-left:0;
        padding-right:0;
    }
    blockquote {
        margin-left:15px;
        font-size:18px;
    }
    .article-post {
        font-size:15px;
    }
    .wrap-search {
        .fa-search {
            display:none;
        }
        .form-control {
            height:35px;
        }
    }
}

/* **********************************************  MY CSS  ********************************************************************* */

.top-0 {
    padding-top: 0;
    margin-top: -20px;
}

.negativemargin {
margin-left: -15px;
margin-right: -15px;
}

.container {
padding-left: 0px;
padding-right: 0px;
    }

.main-content {
    margin-bottom: 50px;
}    


/***********************text-classes********************************************/


html {font-size: 100%;} /*16px*/

body {

  background: $dark;
  margin-top: 80px;
}

p {
margin-bottom: 1rem;
color: $grey;
font-family: 'Rubik';
font-weight: 300;
line-height: 2;}

h1, h2, h3, h4, h5 {
  /*margin: 3rem 0 1.38rem;*/
  font-family: 'Gilmer Heavy', sans-serif;
  line-height: 1.3;
  color: $titles;
  margin-bottom: 0;
}



h1 {
  margin-top: 0;
  font-size: 2.441rem;
}

h2 {font-size: 1.563rem;}

h3 {font-size: 1.563rem;}

h4 {font-size: 1.25rem;}

h5 {font-size: 1.25rem;}


small, .text_small {font-size: 0.8rem;}


input, select, optgroup, textarea, {   
    font-family:'Rubik';
    font-weight: 300;
}

button {
    font-family: 'Sen';
}


a {color: $highlight;}


img {
    max-width:100%;
    height:auto;
}

.site-content {
    margin-top:80px;
}

.bigradius {
    border-radius: 40px;
}
.mb-neg-30 {
    margin-bottom:-30px;
}
.btn {
    min-width: 180px;
}
blockquote {
    
    font-style: italic;
    font-size: 1.953rem;
    position:relative;
    border-left:1px solid $dark;
    margin-left:30px;
    padding-left:15px;
    cite {
        font-weight:700;
    }
}

@media screen and (min-width: 600px) {

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 1.953rem;}

h3 {font-size: 1.563rem;}

h4 {font-size: 1.25rem;}

h5 {font-size: 1.25rem;}

}


@media screen and (min-width: 992px) {

h1 {
  margin-top: 0;
  font-size: 3.815rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

}

/**************about skills summary***************/



.border-summary {
border-right: 0;
padding-right: 0px;
margin-bottom: 20px;
max-width: 100%;
}

@media screen and (min-width:992px) {
  .border-summary {
    border-right: 2px solid #2a2a2f;
padding-right: 30px;
max-width: 45%; 
margin-bottom:0; 
}
}

  .borderleft {
border-left: 0;
}

@media screen and (min-width:992px) {

  .borderleft {
border-left: 2px solid #2a2a2f;
padding-left: 30px;
}
}


.left-summary {
border-right: 0;
margin-bottom: 20px;
max-width: 100%;
}

@media screen and (min-width:600px) {
.left-summary {
    border-right: 0;
    padding-left: 25px;
    margin-bottom: 20px;
    max-width: 100%;
}
}

@media screen and (min-width:992px) {
.left-summary {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
}
}

.spacecolskills {
    flex-wrap: wrap;
}

@media screen and (min-width: 992px) {
.spacecolskills {
justify-content: space-between;
flex-wrap : nowrap;
}
}




@media screen and (min-width:600px) and (max-width:991px) {
    .firstrowabout {
        width: 85%;
        margin: 0 auto;
    }
}



.ulabout {
    padding-left: 20px;
}



@media screen and (min-width: 992px) {
.ulabout {
    display: block;
}
}


.liexp {
        color: $grey;
    font-family: 'Rubik';
    font-weight: 300;
    line-height: 2;
}

.liabout {
    margin-top : 0px;
    color: $grey;
    font-family: 'Rubik';
    font-weight: 300;
    line-height: 2;
}

@media screen and (min-width:600px) {
.liabout {
margin-right: 30px;
}
}


@media screen and (min-width: 992px) {
.liabout {
    margin-right: 0;
}
}


/*********************contact about*************/

.contacttitle {
padding:0;
}


contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (min-width:600px) {
.rowcontact{
display: flex;
flex-direction: row;
align-items:baseline;
}
}

/***************exp about**************/


.row-exp {
display: flex;
flex-wrap: wrap;

}


.expabout {
    font-family: 'Gilmer Heavy';
    font-size: 1.25rem;
    text-align: left;
    color: white;
    margin-bottom: 10px;
    margin-right: 15px;
    line-height: 1.3;
}

@media screen and (min-width:768px) {
.expabout {
    text-align: center;
    line-height:1.3;
    margin: 0px 30px 5px 30px;
}
}


.bgblocabout {
    background: none;
    padding: 0;
    margin-bottom: 0;
    display: block;
}


@media screen and (min-width:768px) {

.bgblocabout {
    background-color: $darkgrey !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
}

.blocexp {
        padding-left: 0;
        margin-bottom: 30px;
        margin-top: 0px;
}


@media screen and (min-width:768px) {
.blocexp {
        padding-left: 2rem;
        margin-top: 30px;
}

}

@media screen and (max-width:767px) {
.lastexp {
    margin-bottom:0;
}
}

/**********custom sidebar****************************************************/

.sidebar {
    height: 80px;
    width: 100%;
}

/*****search form*******/

.form-control {
    background-color: #0d0b10;
    background-clip: padding-box;
    border: 2px solid #3d3b46;
    font-weight: 300;
}

input.form-control {
    color: white;
}


.form-control:focus {
    color: #ffffff;
    background-color: #0d0b10;
    border-color: $grey;
    outline: 0;
    box-shadow: none;
    transition: 0.2s;
}

.form-control::placeholder {
    color: $grey;
}

/****topbar desktop****/

.navigation {
    padding: 40px 0;
    transition: .2s ease;
    background: transparent;
    
}

.navbar {
    padding: 0;
}

.nav-bg {
    background-color: $dark2;
    padding: 10px 0px;
}

.navbar-dark .navbar-nav .nav-link {
        color: #e5e5e5;
  font-size: 14px;
    letter-spacing: 1px;
        padding-right: 0rem;
    padding-left: 1.4rem;
      text-transform: uppercase;
      transition: all 0.3s;
      font-family: 'sen';

    }

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
        color: white;
      font-weight: bold;
      transition: all 0.3s;
    }



.site-content.firstpage {
    margin-top: -20px;
}

@media screen and (max-width:992px) {
.site-content.firstpage {
    margin-top: 0px;
}
}

/*****query sidebar menu <600px, margin-top body mobile*****/

@media (max-width: 600px) {
body {
    margin-top: 80px;
}

    .sidebar {
    height: 80px;
    width: 100%;
    position: fixed;
    }

.nav-icon {
    position: fixed;
    z-index: 1028;
    }

.wrap-search {
    left: 30px;
    z-index: 1027 !important;
    position: fixed;
    top: 25px;
    bottom: auto;
    }   


}


@media (min-width: 601px) {
    .show-search {
        background-color: white;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 17px, rgba(0, 0, 0, 0.05) 0px 2px 7px;

}
}



/************custom text class******/

.article-post p {
    
    line-height: 2;
}


.fas { color: $dark;
}

@media screen and (max-width: 600px) {
.fas {
    color: white;
}
}


.whitetext {
color: white;
}

/******* titles and subtitles base*****/

.title {
text-align: left;
}


.uppercasefont {
text-transform: uppercase;
letter-spacing: 1px;
font-family: 'sen';
line-height: 1.5;
font-size:14px;
}

.subtitle {
text-align: left;
padding-bottom: 20px;
margin-bottom: 20px;
    
}

.containertitlepage {
    text-align: center;
    margin-bottom: 45px;
    padding-top: 30px;
}


@media screen and (min-width: 768px) {
    .containertitlepage {
    padding-top: 50px;
}
}


.containerpadpost {
    padding-top: 30px;
}


@media screen and (min-width: 768px) {
    .containerpadpost {
    padding-top: 50px;
}
}

.highlight {
    color: $highlight;
}

/****title center for pages********/

.page-title {
    text-align: center;
    width: 100%;
    
}

.page-subtitle {
text-align: center;
padding-bottom: 0px;
margin-bottom: 20px;
width: 90%;
margin: auto;

}


/****************hero home**********************************/

.headerwrapper {
    width: 100%;
    background-image: url(/assets/images/headerimg.jpg);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    height: 70vh;
    margin-top: 0;
    display: table;
    min-height: 600px;
    margin-bottom: 60px;
    position: relative;
}


.alignvertical {

    position: absolute;
    bottom: 0;
}


.hero {
    padding: 0;
    margin:auto;

}    

.herotext {
    width: 85%;
    margin: auto;
}

.uppercasefont {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'sen';
    margin-bottom: 20px;
    font-size:14px;
}

.titleheader {
  
    font-family: 'Gilmer Heavy', sans-serif;
  line-height: 1.1;
  font-size: 2.441rem;
  margin-bottom: 15px;
}

.uppercasefontheader {
font-size: 16px;
padding-bottom: 10px;
}


@media screen and (min-width: 600px) {

.headerwrapper {
    width: 100%;
    background-image: url(/assets/images/headerimg.jpg);
    margin-bottom: 0px;
    background-size: cover;
    background-position: bottom right -54vw;
    background-repeat: no-repeat;
    position: relative;
    height: 90vh;
    margin-top: 0;
    display: table;
    min-height: 600px;
    box-shadow: inset 0 0 0 1000px rgba(17,16,22,.25);
}

.containerhero {
    width: 80%;
    max-width: 90%;
}

.alignvertical {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: relative;
}

.herotext {
    width: auto;
}

.title {
    margin-bottom: 20px;
}


.uppercasefont {
    margin-bottom: 20px;
}

.titleheader {
  font-size: 3.052rem;
}

}


@media screen and (min-width: 768px) {

.headerwrapper {
width: 100%;
    background-image: url(/assets/images/headerimg.jpg);
    margin-bottom: 0px;
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    position: relative;
    height: 90vh;
    margin-top: 0;
    display: table;
    min-height: 600px;
    box-shadow: inset 0 0 0 1000px rgba(17,16,22,.25);

}


.containerhero {
    width: 75%;
    max-width: 90%;
}


.alignvertical {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: relative;
}

.herotext
{
    width: 90%;
    margin-left: 0;
}

.uppercasefont {
    margin-bottom: 20px;

}

.titleheader {
width: 75%;
}

.subtitle {
    width: 90%;
    margin-left: 0;
}
}

@media screen and (min-width: 992px) {

.alignvertical {
    display: block;
}    

.containerhero {
    width: 85%;
    max-width: 90%;
}

.headerwrapper {
    width: 100%;
    background-image: url(/assets/images/headerimg.jpg);
    margin-bottom: 0px;
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: relative;
    height: auto;
    margin-top: -80px;
    box-shadow: none;

}

.hero {
    height: 100%;
margin: auto;
align-items: flex-start;
align-content: center;
padding: 20vh 0 15vh 0;

}

.title {
    margin-bottom: 0;
}


.herotext {
    width :auto;
}

.subtitle {
    padding-bottom: 30px;
    padding-top: 30px;
    width: 50%;
    margin-left: 0;
}

.titleheader {
width: 65%;
font-size: 3.815rem;
}

.uppercasefontheader {
padding-bottom: 20px;
}

}



@media screen and (min-width: 1200px) {

.headerwrapper {
    width: 100%;
    background-image: url(/assets/images/headerimg.jpg);
    margin-bottom: 0px;
    background-size: 48%;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: relative;
    height: auto;
    margin-top: -80px;
}


.containerhero {
    width: 1200px;
    max-width: 80%;
}

.hero {
height: 100%;
margin: auto;
align-items: flex-start;
align-content: center;
padding: 15% 0 10% 0;
}


.herotext {
    width: 50%;
    margin: 0;
}

.titleheader {
    width: 55%;
}

.subtitle {
    padding-bottom: 30px;
    padding-top: 30px;
}
 } 



/**************carousel and blocs css**********/

.carouselcontain {
width: 600px;
margin: auto;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
height: 100%;
text-align-last: left;
  }


.bloctitle {
line-height: 1.1;
text-align: left;
align-items: center;
vertical-align: middle;
margin-bottom: 8px;
}

.bloctitle a {
border-bottom: 0px solid transparent;
color: white;
}

.bloctitle a:hover {
border-bottom: 1px solid #fff;
text-decoration: none;
-webkit-transition: .3s;
transition: all 0.3s;
}

.tags {
    color: $buttontext;
    background-color: $highlight;
    padding: 6px;
    width: fit-content;
    align-items: center;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    font-family: 'sen';
    margin-bottom: 10px;
}


.blocsub {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    font-family: 'sen';
    line-height: 1.5;
}


@media screen and (min-width: 992px){
  .carouseltitle {
    font-size: 2.441rem;
  }
}


/****************new block design*****************/

.cardcontainer {
margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80%;
}


.card-body {
    padding: 0;
}

.rowportfolio {
        position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 30px;
}





.cardpost {
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    background-position: center;
}

  .firstpage .blog-grid-item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}



/*********responsive blocs under carousel********/


@media screen and (min-width: 1200px) {
  .blog-grid-item {
    height: 350px;
}
}


.rowcategories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    width:100%;
}


@media screen and (min-width: 450px) {
    .rowcategories {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    flex-direction: row;
    align-content: center;
    
}
}

@media screen and (min-width: 768px) {
.rowcategories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    flex-direction: row;
    align-content: center;
    margin-top: 0px;
}
}




/*********button home******/


.buttonlink a {
        background-color: transparent;
border-color: white;
    color: white;
    padding: 8px 12px;
    border: 2px solid;
    width: fit-content;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    transition: 0.3s;
    font-family: 'sen';

}



.buttonlink a:hover {
    background-color: $highlight;
    color: $buttontext;
    border-color: $highlight;
    color: $buttontext;
    text-decoration: none;
    
}


.buttonflex {
    margin: 0;
    margin-left: 20px; 
}


.buttonflex a {
        background-color: transparent;
border-color: white;
    color: white;
    padding: 8px 12px;
    border: 2px solid;
    width: fit-content;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    transition: 0.3s;
    font-family: 'sen';
   
}


.buttonflex a:hover {
     background-color: $highlight;
    color: $buttontext;
    border-color: $highlight;
    text-decoration: none;
    
}


@media screen and (max-width: 767px){
    .buttonflex {
    margin: 10px 5px;
    display: inline-block;
    width: 100%;
}

.buttonflex a {
    display: inline-block;
    width: 100%;
    text-align: center;
}
}



/****************button filter portfolio*******************/


.buttonfilter {
background-color: transparent;
    border-color: white;
    color: white;
    padding: 8px 12px;
    border: 2px solid;
    width: fit-content;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    transition: 0.3s;
    margin: 10px;
    font-family: 'sen';
}

.buttonfilter:hover {

     background-color: $highlight;
    color: $buttontext;
    border-color: $highlight;
    text-decoration: none;   
}


.buttonfilter:focus {
    background-color: $highlight;
    color: $buttontext;
    border-color: $highlight;
    text-decoration: none;
    transition: all 0.3s;
    outline: none;
}


@media screen and (max-width:350px) {

.buttonfilter {
max-width: 100%;
}
}

@media screen and (max-width:599px) {

.buttonfilter {
max-width: 40%;
}
}

@media screen and (max-width:767px) {
    .buttonfilter {
        flex-grow: 1;
    }
}





/******************************about******************/



.colabout {
    margin: 0;
    background-color: $darkgrey;
    padding: 20px 15px;
    margin-bottom: 15px;
}

.rowcolabout {
    position: relative;
    display: grid;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.skilltext {
    margin-bottom: 10px;
    text-align: left;
}

@media screen and (min-width: 992px){
.skilltext {
    margin-bottom: 5px;
    text-align: left;
}
}


.containerskills {
    width: 100%;
    background-color: rgba(189,189,189,0.15);
    margin-bottom: 25px;
}


.colskills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: 0;
}

.skillbar {
  text-align: right; /* Right-align text */
  padding-top: 2px; /* Add top padding */
  padding-bottom: 2px; /* Add bottom padding */
  color: white; /* White text color */
  background-color: $highlight;
}

.bar5 {width: 100%; } /* Green */
.bar4-5 {width: 90%; } /* $highlight */
.bar4 {width: 80%; } /* $highlight */
.bar3 {width: 60%; } /* Red */
.bar3-5 {width: 70%; } /* Red */
.bar2 {width: 40%; } /* Dark Grey */
.bar1 {width: 20%; } /* Green */



.iconabout {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 24px;
    padding: 20px 0;
        display: flex;
    justify-content: center;

}

.title-colabout {
    font-family: 'Gilmer Heavy';
    font-size: 1.25rem;
    text-align: center;
    color: white;
    margin-bottom:5px;

}

.text-colabout {
    text-align:center;
    margin:0px;
}



@media screen and (min-width:768px) {
    
.colabout {
    
    background-color: $darkgrey;
    padding: 20px 15px;
    margin-bottom: 0px;
}

.rowcolabout {
    margin-top: 35px;
    margin-bottom: 35px;
    grid-template-columns: 1fr 1fr;
}
}

@media screen and (min-width: 992px) {
.rowcolabout {
    position: relative;
    display: grid;
    margin-top: 40px;
    margin-bottom: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
}


.colskills {
    margin-bottom: 0;
    flex-shrink: 1;
}

}




/********portfolio**********/

    .containerlarge {
        width: 1200px;
        max-width: 85%;
        margin: 0 auto;
        
    }

@media (min-width: 768px) {
    .containerlarge {
        max-width: 90%;
    
    }
}

@media (max-width: 991px) {
    .containerlarge {
        max-width:90%;
    
    }
}

@media (min-width: 1200px) {
    .containerlarge {
        max-width: 85%;
    }
}




@media screen and (max-width:599px){
.blocworks {
    height: 270px;
}
}


.rowcategories-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    margin: 50px auto;
}

@media screen and (max-width: 767px) {
.rowcategories-filter {
display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    flex-direction: row;
    align-content: center;
    margin: 15px auto;
}
}


/**************post page layout*************/

.portfolio-col-img {
    width: 100%;
    padding: 0;
    max-width: 100%;
    height: auto;
    margin-bottom: 35px;
}

@media screen and (min-width: 768px) {

.portfolio-col-img {
    width: 50%;
    float: left;
    padding: 0;
    max-width: 100%;
    height: auto;
    margin-bottom: 35px;
}

}
/***text***/


.post-subtitle {
text-align: right;
padding-bottom: 0px;
margin-bottom: 20px;
font-size: 14px;
}


.post-title {
text-align: left;
font-size: 2.441em;
line-height: 1.1;
margin-bottom: 10px;

}

@media screen and (min-width: 600px) {

.post-title {
text-align: left;
font-size: 3.052em;

}
}

blockquote {
    
    
    font-size: 20px;
    position: relative;
    border-left: 2px solid #ffffff;
    margin-left: 0;
    background-color: #201e28;
    font-family: 'lora';
}

blockquote p {
    color:white;
    padding: 15px;
    line-height: 1.8;
    font-family: 'lora';
}


@media screen and (max-width:1199px) {
    .post-title {
        text-align:center;

    }

    .post-subtitle {
        text-align: center;
    
    }

}



@media screen and (min-width: 1200px) {

.postcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

}


.entry-featured-image {
    width: 100%;
}

img.featured-image {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

/*

@media screen and (min-width: 768px) {

img.featured-image {
    max-height: 400px;
}
}

@media screen and (min-width: 992px) {

img.featured-image {
    max-height: 500px;
}
}

@media screen and (min-width: 1200px) {

img.featured-image {
    max-height: 650px;
}
}
*/

.article-post, .entry-header, .comments, .rating, .authorbox {
    max-width: 1000px;
}




/*******footer*********/

.footerwrapper {
    width: 100%;
 
}

.footerbot {
    padding: 9% 70px;
    margin: auto;
    background-image: url('/assets/images/headerbg1.jpg');
        background-size: cover;
    background-position-y: 80%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    margin-bottom: 50px;
}




@media screen and (max-width: 599px) {
    .footerbot {
        padding: 9% 30px;
    }
}


.footer {
    padding: 0;
    border-top: 0px;
    font-size: 15px;
    background: transparent;
    color: grey;
    padding-bottom: 40px;
}

.newsletter form {
    margin-top: 0;
}

.footerform {
    margin: auto 0;
}

.footertext {
    font-size: 1.953em;
    text-align: left;
    color: white;
font-family: 'Gilmer Heavy';
  line-height: 1.3;

}

@media screen and (max-width: 991px) {
    .footertext {
    margin-bottom : 30px;
    text-align: center;

}
}

p.copyright{
    font-size:14px;
    margin-bottom:0;
}



.copytext {
    resize: none;
    line-height: 0;
    padding: 20px;
    border-radius: 0px;
    border: 0px;
    pointer-events: none;
}

.newsletter input {
    border: 1px solid transparent;
    padding: 10px 10px;
min-width: 250px;
    color: $grey;
    background-color: $dark;
}

.copytextdiv {
margin: 0;
    line-height: 0;
    border-radius: 0px;
    border: 0px;
    padding: 0;
}

.buttoncopy {
    color: $buttontext;
    background: $highlight;
    border: 0px;
    font-weight: bold;
    padding: 0 25px;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'sen';
}

@media screen and (max-width: 480px) {

.newsletter .mc-field-group {
    border: 0px solid;
    border-radius: 2px;
    display: inline-block !important;
}

.buttoncopy {
    width: 100%;
    padding: 10px;
}
}

/*************query <380px************/



@media screen and (max-width: 380px) {

.newsletter .mc-field-group {
    width: 200px;
}


.newsletter input {
    font-size: 13px;
    width: 100%;
    min-width: auto;
}

.footerbot {
    padding: 9% 10px;
}


#menu.active {
    transform: translate(11%, 0);

}

.bd-search {
    width: 190px;

}
}


@media screen and (max-width: 280px) {

#menu.active {
    transform: translate(21%, 0);

}
}


